  <div class='<%- locals.validate_errors && 
                  validate_errors.bodyC ? "invalid_field" : "field" %>'>

    <label for="comment_body">Contenido</label><br />
    <textarea id="comment_body" name="comment[bodyC]" rows="10" cols="80"><%= comment.bodyC %></textarea>
  </div>

  <div class="actions">
    <input name="commit" type="submit" value="Salvar" />
  </div>