<h2>
	Autores: Guillermo del Rio y Alvaro Leon
</h2>
<p>
	Blog creado con Nodejs y Express para la asignatura SWCM. Incluye contador de visitas y un video explicatorio
</p>
<video width="320" height="240" controls>
  <source src="/videos/video.mp4" type="video/mp4">
  <source src="/videos/video.ovg" type="video/ogg">
  <source src="/videos/video.webm" type="video/webm">
</video>

