<!DOCTYPE html>
<html lang="es">
<head>
   <meta charset="utf-8">
   <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
   <title>SWCM</title>
 

  <form action="/posts/search" method="get">
    <input type="text" name="busqueda"  />
    <input type="submit" value="Buscar" />
  </form>
</head>

<body>
  <header>
    <h1> SoftWare de CoMunicaciones - SWCM</h1>
    <nav>
      <a href="/">Home</a>
      <a href="/Posts">Posts</a>
    </nav>
  </header>
       
  <section>
   <hr />
   <%- body %>
   <hr />
  </section>

  <footer>
    <p> Universidad Politécnica de Madrid. Curso 2012-2013. </p>
  </footer>
</body>
</html>
